@import url('../global_styles.css');

.container{
    width: 100%;
    height: 100%;
}

.pageContent{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.header{
    display: flex;
    flex-direction: row;
    height: 8%;
    background-color: var(--light-orange);
    color: #fff;
    top: 0;
    align-items: center;
    justify-content: space-between;
}

.home{
    display: flex;
    flex-direction: row;
    width: 10%;
    align-items: center;
    align-content: flex-end;
    color: var(--dark-orange);
    
}
.home:hover{
    filter: var(--filter-white)
}

.homeSvg{
    content: url('../../assets/icons/home.svg');
    width: 30%;
    height: 80%;
    padding-right: 0.5%;
    filter: var(--filter-dark-orange);
}


.bgImage{
    content: url('../../assets/images/login_register_bg.jpg');
    width: 100%;
    height: 100%;
}

.login{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    height: 35%;
    flex-direction: column;
    align-content: center;
    right: 15%;
    top: 30%;
    background-color: #fff;
    border-radius: var(--border-radius-value);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.loginTitle{
    align-self: center;
    color: var(--dark-orange);
}

.loginForm{
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-self: center;
    width: 65%;
}

.loginForm input{
    margin-bottom: 20px;
}

.loginForm label{
    margin-bottom: 10px;
}

.loginButton{
    background-color: var(--blue);
    border-radius: 10px;
    height: 2em;
    border-width: 0;
    position:relative;
    margin-top:10%;
    color:#fff;
}

.loginButton:hover{
    background-color: var(--light-blue);
    border-radius: 10px;
    height: 2em;
    border-width: 0;
    position:relative;
    margin-top:10%;
    color:#fff;
}

.registerButton{
    background-color: #fff;
    border-width: 0;
    color: var(--dark-orange);
}

.registerButton:hover{
    background-color: #fff;
    border-width: 0;
    color: var(--lighter-orange);
}