@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
:root{
    --light-orange: #f99a73;
    --lighter-orange: #faab89;
    --dark-orange: #f55713;

    --dark-blue: #5ca8c0;
    --blue: #43acc7;
    --light-blue: #b6dfe9;

    
    --filter-white: brightness(0) invert(1);
    --filter-dark-orange: invert(56%) sepia(73%) saturate(5424%) hue-rotate(353deg) brightness(97%) contrast(98%);
    --filter-blue: invert(79%) sepia(5%) saturate(4346%) hue-rotate(160deg) brightness(80%) contrast(83%);
    
    --border-radius-value: 15px;

    --font-family: 'Rubik';

    --dashboard-svg-size: 20%;
}

html, body{
    margin: 0;
    height: 100%;
    font-family: var(--font-family);
}
.container{
    flex: 1;
    overflow: hidden;
    position: relative;
    background-color: #e3eaeaea;
}
