@import url('../../global_styles.css');


.pageContent{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.dashboard{
    display: flex;
    height: 100%;
    width: 10%;
    flex-direction: column;
    align-content: center;
}

.dashboardHeader{
    height: 8%;
    background-color: var(--light-orange);
    color: #fff;
    padding-left: 4%;
}

.navigation{
    flex-direction: column;
    height: 100%;
    background-color: var(--lighter-orange);
    color: var(--dark-orange);
    padding-top: 5%;
    padding-left: 4%;
}
.navigationOption{
    display: flex;
    flex-direction: row;
}
.navigationOption:hover{
    filter: var(--filter-white)
}
.navigationOption p{
    margin-left: 4%;
}

.homeSvg{
    content: url('../../../assets/icons/home.svg');
    height: var(--dashboard-svg-size);
    width: var(--dashboard-svg-size);
    filter: var(--filter-dark-orange);
}
.profileSvg{
    content: url('../../../assets/icons/profile.svg');
    height: var(--dashboard-svg-size);
    width: var(--dashboard-svg-size);
    filter: var(--filter-dark-orange);
}
.salesSvg{
    content: url('../../../assets/icons/piggy-bank.svg');
    height: var(--dashboard-svg-size);
    width: var(--dashboard-svg-size);
    filter: var(--filter-dark-orange);
}
.hotelSvg{
    content: url('../../../assets//icons/hotel.svg');
    height: var(--dashboard-svg-size);
    width: var(--dashboard-svg-size);
    filter: var(--filter-dark-orange);
}
.addSvg{
    content: url('../../../assets//icons/add.svg');
    height: var(--dashboard-svg-size);
    width: var(--dashboard-svg-size);
    filter: var(--filter-dark-orange);
}

.mainContent{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #e3eaea;
    align-content: center;
    align-items: center;
    padding-top: 1.5%;
}

.search{
    width: 60%;
    height: 5%;
    margin-bottom: 2.5%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
.searchInput{
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
    width: 100%;
    height: 100%;
    text-decoration: underline;
    font-size: 1.25em;
}
.searchSvg{
    content: url('../../../assets/icons/search.svg');
    width: 10%;
    height: 70%;
    filter: invert(93%) sepia(0%) saturate(0%) hue-rotate(172deg) brightness(84%) contrast(88%);
}

.filter{
    height: 20%;
    width: 80%;
    background-color: #fff;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: var(--border-radius-value);
    margin-bottom: 3%;
    padding-bottom: 2%;
}

.filterForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.salesTimeframe{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 3%;
}
.filterForm input[type=submit]{
    background-color: var(--blue);
    border-radius: 10px;
    height: 2em;
    width: 90%;
    border-width: 0;
    align-self: center;
    color:#fff;
    bottom: 0%;
}
.filterForm input[type=submit]:hover{
    background-color: var(--light-blue);
}

.initialDate, .finalDate{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.calendarSvg{
    content: url('../../../assets/icons/calendar.svg');
    height: 13%;
    width: 13%;
    filter: var(--filter-blue);
    margin-right: 1%;
}


.hotelList{
    height: 100%;
    width: 85%;
    justify-content: space-between;
    overflow-y: scroll;
}

.hotelCard{
    display: flex;
    flex-direction: row;
    background-color: #fbfcfc;
    padding-right: 2%;
    border-radius: var(--border-radius-value);
    margin-bottom: 5%;
}
.hotelImg{
    content: url('../../../assets/images/hotel.jpg');
    height: 100%;
    width: 50%;
    border-top-left-radius: var(--border-radius-value);
    border-bottom-left-radius: var(--border-radius-value);
}

.hotelInfo{
    align-content: center;
    padding-left: 3%;
}
.hotelName{
    font-weight: bolder;
}
.hotelDescription{
    columns: #bebebe;
}
.hotelPrice{
    color: var(--blue);
    font-weight: bolder;
}

.account{
    width: 40%;
    height: 100%;
    position: relative;
    background-color: #e3eaea;
}

.profileCard{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 60%;
    width: 80%;
    margin-top: 20%;
    border-radius: var(--border-radius-value);
    padding-top: 1%;
    padding-left: 3%;
    padding-bottom: 1%;
}

.profileImg{
    position: relative;
    content: url('../../../assets/images/profile_placeholder.jpg');
    height: 100%;
    width: 103.6%;
    border-top-left-radius: var(--border-radius-value);
    border-top-right-radius: var(--border-radius-value);
    left: -3.7%;
    top: -3%;
}

.profileHeader{
    position: relative;
    margin-top: 0ch;
    top: -5%;
}


.profileHeader p{
    color: var(--blue);
    font-size: 2em;
}
.headerSeparator{
    position: relative;
    border-top: 3px solid var(--blue);
    border-radius: var(--border-radius-value);
    right: 2%;
    top: -1.5em;
}


.profileData{
    position: relative;
    top: -2em
}

.profileProps{
    display: flex;
    flex-direction: row;
}
.profilePropName{
    color: #bebebe;
    margin-right: 1%;
    font-weight: bolder;
}


.editProfileButton{
    display: flex;
    flex-direction: row;
    border-width: 0;
    border-radius: var(--border-radius-value);
    background-color: var(--blue);
    color: #fff;
    font-weight: bolder;
    height: 20%;
    align-self: flex-end;
    align-items: center;
    margin-right: 4%;
}

.editProfileButton:hover{
    background-color: var(--light-blue);
}
