@import url('../global_styles.css');

:root{
    --filter-dark-orange: invert(56%) sepia(73%) saturate(5424%) hue-rotate(353deg) brightness(97%) contrast(98%);
    --filter-blue: invert(79%) sepia(5%) saturate(4346%) hue-rotate(160deg) brightness(80%) contrast(83%);
}

html, body{
    margin: 0;
    height: 100%;
    font-family: var(--font-family);
}
.container{
    flex: 1;
    overflow: hidden;
    position: relative;
    background-color: #e3eaeaea;
}

.pageContent{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.dashboard{
    display: flex;
    height: 100%;
    width: 10%;
    flex-direction: column;
    align-content: center;
}

.dashboardHeader{
    height: 8%;
    background-color: var(--light-orange);
    color: #fff;
    padding-left: 4%;
}

.navigation{
    flex-direction: column;
    height: 100%;
    background-color: var(--light-orange);
    color: var(--dark-orange);
    padding-top: 5%;
    padding-left: 4%;
}
.navigationOption{
    display: flex;
    flex-direction: row;
}
.navigationOption:hover{
    filter: var(--filter-white)
}
.navigationOption p{
    margin-left: 4%;
}

.homeSvg{
    content: url('../../assets/icons/home.svg');
    height: 20%;
    width: 20%;
    filter: var(--filter-dark-orange);
}
.salesSvg{
    content: url('../../assets/icons/piggy-bank.svg');
    height: 20%;
    width: 20%;
    filter: var(--filter-dark-orange);
}
.hotelSvg{
    content: url('../../assets//icons/hotel.svg');
    height: 20%;
    width: 20%;
    filter: var(--filter-dark-orange);
}

.mainContent{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #e3eaea;
    align-content: center;
    align-items: center;
    padding-top: 1.5%;
}

.search{
    width: 60%;
    height: 5%;
    margin-bottom: 2.5%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
.searchInput{
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
    width: 100%;
    height: 100%;
    text-decoration: underline;
    font-size: 1.25em;
}
.searchSvg{
    content: url('../../assets/icons/search.svg');
    width: 10%;
    height: 70%;
    filter: invert(93%) sepia(0%) saturate(0%) hue-rotate(172deg) brightness(84%) contrast(88%);
}

.filter{
    height: 30%;
    width: 80%;
    background-color: #fff;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: var(--border-radius-value);
    margin-bottom: 3%;
    padding-bottom: 2%;
    
}

.filterForm{
    display: flex;
    flex-direction: column;
    
}
.destination{
    display: flex;
    flex-direction: row;
    padding-bottom: 3%;
}
.destinationSvg{
    content: url('../../assets/icons/destination.svg');
    width: 8%;
    height: 8%;
    filter: var(--filter-blue);
    margin-right: 1%;
}
.bookingDuration{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 3%;
}
.filterForm input[type=submit]{
    background-color: var(--blue);
    border-radius: 10px;
    height: 2em;
    width: 90%;
    border-width: 0;
    align-self: center;
    color:#fff;
    bottom: 0%;
}
.filterForm input[type=submit]:hover{
    background-color: var(--light-blue);
}

.checkin, .checkout{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.calendarSvg{
    content: url('../../assets/icons/calendar.svg');
    height: 13%;
    width: 13%;
    filter: var(--filter-blue);
    margin-right: 1%;
}


.hotelList{
    height: 100%;
    width: 85%;
    justify-content: space-between;
    overflow-y: scroll;
}

.hotelCard{
    display: flex;
    flex-direction: row;
    background-color: #fbfcfc;
    padding-right: 2%;
    border-radius: var(--border-radius-value);
    margin-bottom: 5%;
}
.hotelImg{
    content: url('../../assets/images/hotel.jpg');
    height: 100%;
    width: 50%;
    border-top-left-radius: var(--border-radius-value);
    border-bottom-left-radius: var(--border-radius-value);
}

.hotelInfo{
    align-content: center;
    padding-left: 3%;
}
.hotelName{
    font-weight: bolder;
}
.hotelDescription{
    columns: #bebebe;
}
.hotelPrice{
    color: var(--blue);
    font-weight: bolder;
}

.account{
    width: 40%;
    height: 100%;
    position: relative;
}

.bgImage{
    position: absolute;
    content: url('../../assets/images/home_bg.jpg');
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}

.accountAction{
    display: flex;
    position: relative;
    top: 3%;
    left: 45%;
    z-index: 2;
    width: 50%;
    justify-content: space-between;
}
.registerButton{
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
    color: var(--dark-orange);
    font-weight: bolder;
    font-size: 2em;
}
.registerButton:hover{
    color: var(--lighter-orange);
}


.loginButton{
    width: 30%;
    background-color: var(--blue);
    border-width: 0;
    font-size: 2em;
    border-radius: 10px;
    color: #fff;
}
.loginButton:hover{
    background-color: var(--light-blue);
}