@import url('./global_styles.css');


.container{
    width: 100%;
    height: 100%;
}

.pageContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.header{
    display: flex;
    flex-direction: row;
    height: 8%;
    background-color: var(--light-orange);
    color: #fff;
    top: 0;
    align-items: center;
    justify-content: space-between;
}

.home{
    display: flex;
    flex-direction: row;
    width: 10%;
    align-items: center;
    align-content: flex-end;
    color: var(--dark-orange);
}
.home:hover{
    filter: var(--filter-white)
}
.home a{
    text-decoration: none;
    color: var(--dark-orange);
}

.homeSvg{
    content: url('../icons/home.svg');
    width: 30%;
    height: 80%;
    padding-right: 0.5%;
    filter: var(--filter-dark-orange);
}


.bgImage{
    content: url('../images/login_register_bg.jpg');
    width: 100%;
    height: 100%;
}

.login{
    position: relative;
    display: flex;
    width: 35%;
    height: 30%;
    flex-direction: column;
    align-content: center;
    transform: translate(-40%, 80%);
    background-color: #fff;
    border-radius: var(--border-radius-value);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.loginTitle{
    align-self: center;
    color: var(--dark-orange);
}

.loginForm{
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-self: center;
    width: 65%;
}

.loginForm input{
    margin-bottom: 20px;
}

.loginForm label{
    margin-bottom: 10px;
}

.loginButton{
    position: relative;
    background-color: var(--blue);
    border-radius: 10px;
    height: 2em;
    border-width: 0;
    position:relative;
    color:#fff;
}

.loginButton:hover{
    background-color: var(--light-blue);
    border-radius: 10px;
    height: 2em;
    border-width: 0;
    position:relative;
    color:#fff;
}

.register{
    display: flex;
    text-align: center;
    position: relative;
    justify-content: center;
    width: 100%;
}
.registerButton{
    white-space: normal;
    overflow-wrap: break-word;
    position: relative;
    background-color: #fff;
    width: 100%;
    border-width: 0;
    color: var(--dark-orange);
    border-bottom-left-radius: var(--border-radius-value);
    border-bottom-right-radius: var(--border-radius-value);
    
}

.registerButton:hover{
    background-color: #fff;
    border-width: 0;
    color: var(--lighter-orange);
}

@media screen and (min-device-height:561px ) and (max-device-height: 860px){
    .login{
        width: 40%;
        height: 40%;
        transform: translate(-100%, 80%);
    }
}
@media (max-device-height: 560px) {
    .login{
        width: 40%;
        height: 60%;
    }
}

