.dashboard{
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-content: center;
}

.dashboardHeader{
    height: 8%;
    background-color: var(--light-orange);
    color: #fff;
    padding-left: 4%;
}

.navigation{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--lighter-orange);
    color: var(--dark-orange);
    padding-top: 5%;
    padding-left: 4%;
}
.navigationOption{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5%;
}
.navigationOption:hover{
    filter: var(--filter-white)
}
.navigationOption a{
    margin-left: 4%;
    text-decoration: none;
    color: var(--dark-orange);
}

.homeSvg{
    content: url('../icons/home.svg');
    height: var(--dashboard-svg-size);
    width: var(--dashboard-svg-size);
    filter: var(--filter-dark-orange);
    margin: 0 auto;
}
.profileSvg{
    content: url('../icons/profile.svg');
    height: var(--dashboard-svg-size);
    width: var(--dashboard-svg-size);
    filter: var(--filter-dark-orange);
    margin: 0 auto;
}
.salesSvg{
    content: url('../icons/piggy-bank.svg');
    height: var(--dashboard-svg-size);
    width: var(--dashboard-svg-size);
    filter: var(--filter-dark-orange);
    margin: 0 auto;
}
.hotelSvg{
    content: url('../icons/hotel.svg');
    height: var(--dashboard-svg-size);
    width: var(--dashboard-svg-size);
    filter: var(--filter-dark-orange);
    margin: 0 auto;
}
.addSvg{
    content: url('../icons/add.svg');
    height: var(--dashboard-svg-size);
    width: var(--dashboard-svg-size);
    filter: var(--filter-dark-orange);
    margin: 0 auto;
}
.registerSvg{
    content: url('../icons/register.svg');
    height: var(--dashboard-svg-size);
    width: var(--dashboard-svg-size);
    filter: var(--filter-dark-orange);
    margin: 0 auto;
}
.logoutSvg{
    content: url('../icons/logout.svg');
    height: var(--dashboard-svg-size);
    width: var(--dashboard-svg-size);
    filter: var(--filter-dark-orange);
    margin: 0 auto;
}

#logo{
    color: #fff;
}

#sidebar{
    width: 100%;
    height: 100%;
}

.sidebarItem{
    width: 100%;
}

a.nav-link.py-3 > span{
    font-size: 2vh;
}

@media screen and (max-device-width:1024px) {
    a.nav-link.py-3 > span{
        font-size: 1vh;
    }
}